<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <br>
  <br>
  <div class='container'>
        <form action="/dbperson" method="GET">
          <div class="form-group">
            <label for="formGroupExampleInput">Find Person by First Name:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Person's Name" name="name">
            <button type="submit" class="btn btn-primary findName">Submit</button>
            <br>
          </div>
        </form>
      </div>

    <br>

    <div class= 'container'>
    <label>Add a new Person to the Database:</label>
    <form action='/dbperson' method="POST" class="form" id="nameField" name"nameInput" >

      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name"></input>
      </div>
    
      <div class="form-group">
        <label>Likes:</label>
        <input type="text" class="form-control" name="likes"></input>
      </div>

      <div class="form-group">
        <label>Disikes:</label>
        <input type="text" class="form-control" name="dislikes"></input>
      </div>

      <div class="form-group">
        <label>Hometown:</label>
        <input type="text" class="form-control" name="hometown"></input>
      </div>

      <div class="form-group">
        <label>Special Requests:</label>
        <input type="text" class="form-control" name="specialRequests"></input>
      </div>
  
      <div class="form-group">
        <label>Sigificant Other:</label>
        <input type="text" class="form-control" name="significantOther"></input>
      </div>

      <div class="form-group">
        <label>Kids:</label>
        <input type="text" class="form-control" name="kids"></input>
      </div>

      <div class="form-group">
        <label>Favorite Team:</label>
        <input doc. type="text" class="form-control" name="favoriteTeam"></input>
      </div>
  
      <div class="form-group">
        <label>Birthday:</label>
        <input type="text" class="form-control" name="birthday"></input>
      </div>
  
      <div class="form-group">
        <label>Other Notes:</label>
        <input type="text" class="form-control" name="miscNotes"></input>
      </div>

      <div class="form-group">
        <label>Photo URL:</label>
        <input type="text" class="form-control" name="photoUrl"></input>
      </div>
      <button type="submit" class="btn btn-primary" id="apiSubmit" name="submitBtn">Submit New Person</button>
    </form>
  </div>

  <script src="app.js" type="text/javascript"></script>
</body>
</html>